<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    
</head>
<body>

<h2>Create Profile</h2>

<form method="post" enctype="multipart/form-data">
    Name: <input name="name" required><br><br>
    Age: <input type="number" name="age" required><br><br>
    Location: <input name="location" required><br><br>
    Skills: <input name="skills" required><br><br>
    Education: <input name="education" required><br><br>

    Photo: <input type="file" name="photo" accept="image/*"><br><br>

    <button>Save Profile</button>
</form>


</body>
</html>
